In [ ]:
%%html
<div style="background:#e0f7fa; padding:20px; border-radius:12px;">
  <h1 style="color:#00796b;">Welcome to My Notebook!</h1>
  <p style="font-size:18px;">This is a colorful section made with HTML and CSS.</p>
  <h2 style="color:#00695c;">This is just the beginning...</h2>
</div>

In [ ]:
%%html
<h1 style="color:#00796b;"> All time statistics of Football Players in official matches!</h1>
<table style="border-collapse: collapse; width:60%; text-align:center;">
  <tr style="background:#4CAF50; color:white;">
    <th>Name</th><th>Country</th><th>Goals</th><th>Assists</th><th>Games played</th><th>Current or last club </th>
  </tr>
  <tr><td>Cristiano Ronaldo</td><td>Portugal</td><td>943</td><td>258</td><td>1286</td><td>Al Nassr</td></tr>
  <tr><td>Leo Messi</td><td>Argentina</td><td>879</td><td>389</td><td>1120</td><td>Inter Miami</td></tr>
  <tr><td>Pele</td><td>Brazil</td><td>756</td><td>367</td><td>795</td><td>NewYork Cosmos</td></tr>
</table>

Markdown

# Heading 1
## Heading 2
### Heading 3
#### Heading 4  
**Bold text**  
*Italic text*  
***Bold + Italic***  
~~Strikethrough~~    
`Inline code`
- Unordered item 1
- Unordered item 2
  - Sub-item A
  - Sub-item B

1. Ordered item 1
2. Ordered item 2
3. Ordered item 3

In [ ]:
Python

In [ ]:
print("Hello, Jupyter Notebook!")  

a = 10
b = 5
print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)


fruits = ["Apple", "Orange", "Cherry"]
for fruit in fruits:
    print("I like", fruit)